@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <h2 class="text-center">Our Mission</h2>
    <p class="lead text-center">Our mission at Hardwarezilla is giving computer fanatics competitive prices on computer parts with <strong>sincerity</strong>, <strong>pride</strong>, and <strong>honesty</strong></p>
    <hr />
    <img src="~/Content/img/company/company-logo.png" class=" float-left d-inline-block" />
    <div class="max-p-width float-right">
        <h2 class="text-center">
            Who are we?
        </h2>
        <p>
            We at Hardwarezilla are a group of likeminded individuals who were tired of price gouging by big box stores. We decided to create Hardwarezilla in 2020 with the idea of <strong>selling computer parts whole sale directly to consumers at extremely competetive pricing</strong>.
        </p>
    </div>
    <div class="clearfix"></div>
    <hr />
    <h2>How to contact us.</h2>
    <p class="d-inline-block">
        Email: <a href="mailto:hardwarezilla@hardwarezilla.com">hardwarezilla@hardwarezilla.com</a><br />
        Phone: <a href="tel:555-555-5555">555-555-5555</a><br />
    </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50624.68110482629!2d-122.04683806890567!3d37.530493796825354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fbf46b7e8caf7%3A0x8ada313b89d888d4!2sFremont%2C%20CA!5e0!3m2!1sen!2sus!4v1631497724704!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" class="float-right"></iframe>
    <div class="clearfix"></div>
    <br />
</div>