<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-StoreFrontApplication.UI.MVC-20210831025215.mdf;Initial Catalog=aspnet-StoreFrontApplication.UI.MVC-20210831025215;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <add name="DefaultConnection" connectionString="Data Source=.\sqlexpress; Catalog=StoreFront;Integrated Security=true" providerName="System.Data.SqlClient" />
</connectionStrings>