@using Microsoft.AspNet.Identity
@using StoreFrontApplication.DATA.EF;
@{ 
    StoreFrontEntities db = new StoreFrontEntities();

    string userId = User.Identity.GetUserId();

    UserDetail currentUser = db.UserDetails.Find(userId);

    string userFirstName = "Guest";
    string userFavColor = "#cccccc";

    if (currentUser != null)
    {
        userFirstName = currentUser.FirstName;
        userFavColor = currentUser.FavoriteColor;
    }
}
@if (Request.IsAuthenticated)
{

    <li class="nav-item">
        @Html.ActionLink("Hello " + userFirstName, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", style = $"color: {userFavColor}; text-shadow: 1px 1px #000;" })
    </li>
    <li class="nav-item">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </li>



}
else
{
    <li class="nav-item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li class="nav-item">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
